* {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

body{
  background-color: #edf1f5;
}

.bi{
  color:#54667a
}

.topbar{
  background-color: #2f323e;
  min-height: 60px;
  position: fixed;
  width: 100%;
  z-index: 9
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding-top: 64px;
  background: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  -webkit-box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
  box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
}


.sidebar a {
  padding: 14px;
  text-decoration: none;
  font-size: 16px;
  color:#54667a;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid white;
}

a.active{
  border: none;
  color:white;
  font-weight: bold;
  background-color: #54667a;
  box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.2);
}

a.active .bi{
  color: white
}

.sidebar li:hover * {
  color: white !important;
  background-color: #54667a
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar-toggle {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  border-radius: 16px;
  color: #54667a;
  padding: 10px 15px;
  border: none;
  box-shadow:  1px 3px 5px 1px rgba(0,0,0,0.2);
  position: fixed;
}

.openbtn:hover {
  background-color: #54667a;
}

#main {
  transition: margin-left .5s;
  padding: 80px 20px 20px 20px;
  margin-left: 250px
}

.main-title{
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 0px
}

.main-container{
  background-color: white;
  border-radius: 24px;
  margin: 20px 50px;
  padding: 5px 20px;
  box-shadow:  1px 3px 5px 1px rgba(0,0,0,0.2);
}

@media screen and (max-width: 1360px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 14px;}
}

.logout-btn{
  position: absolute;
  bottom: 5vh;
  left: -50px;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  color:#54667a;
  padding: 10px 50px 10px 100px;
  border: none;
  border-radius: 50px;
  box-shadow:  2px 5px 5px 1px rgba(0,0,0,0.2);
}
