* {
    font-family: 'Roboto', sans-serif;
}

html, body{
  max-width: 100%;
  overflow-x: hidden;
  z-index: 0;
  background-color: white !important
}

.nav-item{
  padding: 20px 10px;
}

#navbar {
  transition: 0.4s;
}

.nav-link{
    color: white;
}

.nav-pills .nav-link{
  background-color: gray
}

.footer-link{
  color: white;
  text-decoration: none;
}
